
* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

body {
background-color: #eee;
height: 100vh;
font-family: "Poppins", sans-serif;
background: linear-gradient(
    to top,
    #fff 10%,
    rgba(58, 109, 140, 0.4) 90%
    )
    no-repeat;
margin: 0;
}

.wrapper {
max-width: 500px;
border-radius: 10px;
margin: 50px auto;
padding: 30px 40px;
box-shadow: 20px 20px 80px rgb(206, 206, 206);
}

.h4 {
font-family: "Poppins", sans-serif;
}

.input-field {
border-radius: 5px;
padding: 5px;
display: flex;
align-items: center;
cursor: pointer;
border: 1px solid #400485;
color: #400485;
}

.input-field:hover {
color: #3a6d8c;
border: 1px solid #001f3f;
}

input {
border: none;
outline: none;
box-shadow: none;
width: 100%;
padding: 0px 2px;
font-family: "Poppins", sans-serif;
}

.fa-eye-slash.btn {
border: none;
outline: none;
box-shadow: none;
}

a {
text-decoration: none;
color: #6a9ab0;
font-weight: 700;
}

a:hover {
text-decoration: none;
color: #ead8b1;
}

.btn.btn-block {
border-radius: 20px;
background: linear-gradient(to right, #001f3f, #6a9ab0);
color: #fff;
border: none;
}

@media (max-width: 575px) {
.wrapper {
    margin: 10px;
}
}

@media (max-width: 424px) {
.wrapper {
    padding: 30px 10px;
    margin: 5px;
}
}

.alert {
padding: 15px;
margin: 10px 0;
border: 1px solid transparent;
border-radius: 5px;
background-color: #f8d7da;
color: #721c24;
font-weight: bold;
display: none; /* Ẩn thông báo lỗi mặc định */
}