/* Reset mặc định cho toàn bộ trang */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .btn{
  border-radius: .25rem;}
  /* Định dạng cho body của trang login */
  body {
    background-color: #eee;
    height: 100vh;
    background: linear-gradient(to top, #fff 10%, rgba(58, 109, 140, 0.4) 90%)
      no-repeat;
    margin: 0;
  }
  
  /* Wrapper chính của trang đăng nhập */
  .login-page-wrapper .wrapper {
    max-width: 500px;
    border-radius: 10px;
    margin: 50px auto;
    padding: 30px 40px;
    box-shadow: 20px 20px 80px rgb(206, 206, 206);
    background-color: #fff;
  }
  
  /* Định dạng cho các thông báo lỗi */
  .login-page-wrapper .alert {
    padding: 15px;
    margin: 10px 0;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #f8d7da;
    color: #721c24;
    font-weight: bold;
    display: none; /* Ẩn thông báo lỗi mặc định */
  }
  
  /* Nút đăng nhập */
  .login-page-wrapper .btn.auth-btn.btn-block {
    border-radius: 20px;
    background: linear-gradient(to right, #001f3f, #6a9ab0);
    color: #fff;
    border: none;
    width: 100%;
    height: 45px;
  }
  
  /* Responsive cho màn hình nhỏ */
  @media (max-width: 575px) {
    .login-page-wrapper .wrapper {
      margin: 10px;
    }
  }
  
  @media (max-width: 424px) {
    .login-page-wrapper .wrapper {
      padding: 30px 10px;
      margin: 5px;
    }
  }
  
  /* Định dạng cho input và các field nhập liệu */
  .login-page-wrapper .input-field {
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #400485;
    color: #400485;
  }
  
  .login-page-wrapper input {
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
    padding: 0px 2px;
  }
  
  /* Hiệu ứng hover cho input-field */
  .login-page-wrapper .input-field:hover {
    color: #3a6d8c;
    border: 1px solid #001f3f;
  }
  
  /* Nút hiện/ẩn mật khẩu */
  .login-page-wrapper .fa-eye-slash.btn.auth-btn {
    border: none;
    outline: none;
    box-shadow: none;
  }
  
  /* Định dạng cho liên kết đăng nhập*/
  .login-page-wrapper .text-center.pt-3.text-muted a {
    text-decoration: none;
    color: #6a9ab0;
    font-weight: 700;
  }
  
  .login-page-wrapper a:hover {
   
    color: #ab9f87;
  }
  
