.h3-shop{font-size:18px}

.h5-shop{font-size:14px}

.btn-shop,a{
    text-decoration:none!important;
    outline:0!important;
    -webkit-transition:all .3s ease-in-out;
    -moz-transition:all .3s ease-in-out;
    -ms-transition:all .3s ease-in-out;
    -o-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out}
    
li,ul{list-style:none;margin:0;padding:0}

button:focus{outline:0;box-shadow:none}

:focus{outline:0}p{margin:0}

.form-control::-moz-placeholder{color:#fff;opacity:1}

.slide{color:#fff;font-size:13px;padding:2px 15px;font-family:Poppins,sans-serif}

.login-box{float:right;width:120px;margin-left:20px}

.login-box .form-control{background:0 0;border:none}

.search a{color:#6a9ab0}ul.cart-list>li.total>

.btn{border-bottom:solid 1px #cfcfcf!important;color:#000;padding:10px 15px;border:none;font-weight:700;color:#fff}

@media (min-width:1024px){nav.navbar ul.nav>li>a{padding:30px 15px;font-weight:600}nav.navbar-sidebar ul.nav{margin-bottom:50px}nav.navbar-sidebar ul.nav>li>a{padding:10px 15px;font-weight:700}}

.cart-list h6 a{font-size:16px;font-weight:700}

.cart-list h6 a:hover{color:#6a9ab0}

ul.cart-list p .price{font-weight:400}

.hvr-hover{display:inline-block;vertical-align:middle;-webkit-transform:perspective(1px) translateZ(0);transform:perspective(1px) translateZ(0);box-shadow:0 0 1px transparent;position:relative;background:#6a9ab0;-webkit-transition-property:color;transition-property:color;-webkit-transition-duration:.3s;transition-duration:.3s;border-radius:0;box-shadow:none}

.hvr-hover::after{content:"";position:absolute;z-index:-1;top:0;left:0;right:0;bottom:0;background:#000;border-radius:100%;-webkit-transform:scale(0);transform:scale(0);-webkit-transition-property:transform;transition-property:transform;-webkit-transition-duration:.3s;transition-duration:.3s;-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out}

.hvr-hover:hover::after{-webkit-transform:scale(2);transform:scale(2);color:#fff}

.hvr-hover{overflow:hidden}

ul.cart-list>li.total>.btn:hover{color:#fff}

.cart-box{margin-top:40px;background:#fff}

.title-all{margin-bottom:30px}

.title-all h1{font-size:32px;font-weight:700;color:#000}

.title-all p{color:#999;font-size:16px}

.products-box{padding:70px 0}

.filter-button-group{display:inline-block}

.filter-button-group button{background:#6a9ab0;color:#fff;border:none;cursor:pointer;padding:5px 30px;font-size:18px}

.filter-button-group button.active{background:#000}

.products-single{overflow:hidden;position:relative;margin-bottom:30px}

.products-single .box-img-hover{overflow:hidden;position:relative}

.box-img-hover img{margin:0 auto;text-align:center;display:block}

.type-lb{position:absolute;top: -16px;;right:0;z-index:8}

.type-lb .new{background:#001f3f;color:#fff;padding:2px 10px;font-weight:700;text-transform:uppercase}

.why-text{background:#f5f5f2;padding:15px}

.why-text h4{font-size:20px;font-weight:700;padding-bottom:15px}

.why-text .h5-shop{font-size:18px;font-family:Poppins,sans-serif;padding:4px;display:inline-block;background:#6a9ab0;color:#fff;font-weight:600}

.mask-icon{width:100%;height:100%;position:absolute;overflow:hidden;top:0;left:0}



.mask-icon ul{display:inline-block;position:absolute;bottom:0;right:0}

.mask-icon ul li{background:#6a9ab0}

.mask-icon ul li a{color:#fff;padding:5px 10px;display:block}

.mask-icon a.cart{background:#6a9ab0;position:absolute;bottom:0;left:0;padding:10px 20px;font-weight:700;color:#fff}

.mask-icon a.cart:hover{background:#000;color:#fff}

.mask-icon ul li a:hover{background:#000;color:#fff}

.products-single .mask-icon{background:rgba(1,1,1,.5);top:-100%;opacity:0;-webkit-transition:all .3s ease-out .5s;-moz-transition:all .3s ease-out .5s;-o-transition:all .3s ease-out .5s;-ms-transition:all .3s ease-out .5s;transition:all .3s ease-out .5s}

.products-single:hover .mask-icon{opacity:1;top:0;-webkit-transition-delay:0s;-moz-transition-delay:0s;-o-transition-delay:0s;-ms-transition-delay:0s;transition-delay:0s;-webkit-animation:bounceY .9s linear;-moz-animation:bounceY .9s linear;-ms-animation:bounceY .9s linear;animation:bounceY .9s linear}

@keyframes bounceY{0%{transform:translateY(-205px)}40%{transform:translateY(-100px)}65%{transform:translateY(-52px)}82%{transform:translateY(-25px)}92%{transform:translateY(-12px)}100%,55%,75%,87%,97%{transform:translateY(0)}}

@-moz-keyframes bounceY{0%{-moz-transform:translateY(-205px)}40%{-moz-transform:translateY(-100px)}65%{-moz-transform:translateY(-52px)}82%{-moz-transform:translateY(-25px)}92%{-moz-transform:translateY(-12px)}100%,55%,75%,87%,97%{-moz-transform:translateY(0)}}

@-webkit-keyframes bounceY{0%{-webkit-transform:translateY(-205px)}40%{-webkit-transform:translateY(-100px)}65%{-webkit-transform:translateY(-52px)}82%{-webkit-transform:translateY(-25px)}92%{-webkit-transform:translateY(-12px)}100%,55%,75%,87%,97%{-webkit-transform:translateY(0)}}

.footer-link{margin-top:15px}

.footer-link h4{color:#fff;font-size:16px;text-transform:uppercase;letter-spacing:2px;margin-bottom:20px;position:relative;font-weight:700}

.footer-link h4::before{border-bottom:3px solid #6a9ab0;content:"";height:3px;width:100%;position:absolute;bottom:3px;left:0}

.footer-link ul li{margin-right:5px}.footer-link ul li a{color:#fff;text-align:left;display:block;line-height:32px;position:relative;padding-left:15px;transition:all .3s ease-in-out;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out}

.footer-link ul li a::before{font-family:FontAwesome;content:"\f105";position:absolute;left:5px;line-height:35px;font-size:16px;transition:all .3s ease-in-out;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out}

.footer-link ul li a:hover::before{left:5px}.footer-link ul li a:hover{color:#6a9ab0;border-color:#6a9ab0;padding-left:20px}

.all-title-box{background:url(../images/all-bg-title.jpg) no-repeat center center;-webkit-background-size:cover;-moz-background-size:cover;-ms-background-size:cover;-o-background-size:cover;background-size:cover;text-align:center;background-attachment:fixed;padding:70px 0;position:relative}

.all-title-box::before{background:rgba(0,0,0,.6);content:"";position:absolute;z-index:0;width:100%;height:100%;left:0;top:0}

.all-title-box h2{font-size:28px;font-weight:700;color:#fff;float:left;padding:10px 0}

.shop-box-inner{padding:70px 0}

.search-product{position:relative}

.search-product input[type=text]{background:#ead8b1;border:0;box-shadow:none;border-radius:0;color:#fff;height:55px;font-weight:300;font-size:16px;margin-bottom:15px;padding:0 20px;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;transition:all .5s ease;width:100%;outline:0}

.search-product .form-control::-moz-placeholder{color:#fff;opacity:1}

.search-product button{background:#3a6d8c;color:#fff;font-size:18px;position:absolute;right:0;padding:12px 15px;top:0;line-height:27px;border:none;cursor:pointer;height:100%}

.search-product button:hover{background:#6a9ab0}.filter-sidebar-left{margin-bottom:20px}

.title-left{font-size:16px;border-bottom:3px solid #000;margin-bottom:20px}

.title-left h3{font-weight:700}

.list-group-item{border:none;padding:5px 20px;font-size:14px}

.list-group-item[data-toggle=collapse]::after{width:0;height:0;position:absolute;top:calc(50% - 12px);right:10px;content:'';-webkit-transition:top .2s,-webkit-transform .2s;transition:top .2s,-webkit-transform .2s;transition:transform .2s,top .2s;transition:transform .2s,top .2s,-webkit-transform .2s;font-family:FontAwesome;content:"\f105"}

.list-group-tree .list-group-collapse .list-group{margin-left:25px;border-left:1px solid #ced4da}

.list-group-tree .list-group-item.active{color:#6a9ab0;background-color:#fff;font-weight:700}

.list-group-tree .list-group-collapse .list-group>.list-group-item::before{position:absolute;top:14px;left:0;content:'';width:8px;height:1px;background-color:#ced4da}

.list-group-tree .list-group-item:hover{color:#6a9ab0;background-color:#fff;outline:0;font-weight:700}

.filter-price-left{margin-bottom:20px}

#slider-range .ui-slider-range{background-color:#6a9ab0;border-radius:0}

#slider-range{background:#000;border:medium none;border-radius:50px;float:left;height:10px;margin-top:14px;width:100%}

.price-box-slider p{clear:both;margin-top:20px;display:inline-block;width:100%}

.price-box-slider p input{margin-top:5px}

.price-box-slider p button{border:none;color:#001f3f;float:right}

.product-item-filter{border-bottom:1px solid #000;border-top:1px solid #000;display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;-webkit-justify-content:space-between;justify-content:space-between;padding:5px 0}

.product-item-filter .toolbar-sorter-right{width:65%}

.toolbar-sorter-right{float:left}

.toolbar-sorter-right .bootstrap-select.form-control:not([class*=col-]){width:77%;float:right}

.product-item-filter p{float:right;line-height:42px}

.product-item-filter .nav-tabs{border:none;float:right}

.nav>li{position:relative;display:inline-block;vertical-align:middle}

.product-item-filter li .nav-link{border:none;border-radius:0;color:#111;font-size:18px;padding:4px 12px}

.product-item-filter li .nav-link.active{background:#6a9ab0;border:none;color:#fff}

.product-item-filter li .nav-link:hover{background:#000;border:none;color:#fff}

.product-categori{margin-bottom:30px}

.product-categorie-box{margin-top:20px}

.tab-content,.tab-pane{width:100%}

.why-text.full-width h4{font-size:24px;font-weight:700;padding-bottom:15px}

.why-text.full-width .h5-shop{color:#000;font-weight:700}

.why-text.full-width p{padding-bottom:20px}

.why-text.full-width a{padding:10px 20px;font-weight:700;color:#fff;border:none}

.list-view-box{margin-bottom:30px}

.list-view-box:hover .mask-icon{opacity:1;top:0;-webkit-transition-delay:0s;-moz-transition-delay:0s;-o-transition-delay:0s;-ms-transition-delay:0s;transition-delay:0s;-webkit-animation:bounceY .9s linear;-moz-animation:bounceY .9s linear;-ms-animation:bounceY .9s linear;animation:bounceY .9s linear}

.quantity-box input{width:60px;border:2px solid #000;text-align:center}

.quantity-box input:focus{border-color:#6a9ab0}

@-webkit-keyframes sonarEffect{0%{opacity:.3}40%{opacity:.5;box-shadow:0 0 0 2px rgba(0,53,68,.1),0 0 10px 10px #6a9ab0,0 0 0 10px rgba(0,53,68,.5)}100%{box-shadow:0 0 0 2px rgba(0,53,68,.1),0 0 10px 10px #6a9ab0,0 0 0 10px rgba(0,53,68,.5);-webkit-transform:scale(1.5);opacity:0}}

@-moz-keyframes sonarEffect{0%{opacity:.3}40%{opacity:.5;box-shadow:0 0 0 2px rgba(0,53,68,.1),0 0 10px 10px #6a9ab0,0 0 0 10px rgba(0,53,68,.5)}100%{box-shadow:0 0 0 2px rgba(0,53,68,.1),0 0 10px 10px #6a9ab0,0 0 0 10px rgba(0,53,68,.5);-moz-transform:scale(1.5);opacity:0}}

@keyframes sonarEffect{0%{opacity:.3}40%{opacity:.5;box-shadow:0 0 0 2px rgba(0,53,68,.1),0 0 10px 10px #6a9ab0,0 0 0 10px rgba(0,53,68,.5)}100%{box-shadow:0 0 0 2px rgba(0,53,68,.1),0 0 10px 10px #3851bc,0 0 0 10px rgba(0,53,68,.5);transform:scale(1.5);opacity:0}}

.submit-button button{padding:10px 20px;font-weight:700;color:#fff;border:none}

.quantity-box input{width:100%}.navbar,footer{background-color:#001f3f}

.navbar-nav .nav-link,footer{color:#ead8b1!important}

.product-image{width:100%;max-width:150px;height:100%;max-height:200px;object-fit:cover;margin:0 auto}

#sortBy{background-color:#ead8b1;border:0;border-radius:0;padding:10px 10px 10px}

.icon{background:#3a6d8c;color:#fff;padding:0 3px 0 3px}

.product-item-filter{background:#c1d1ee}

#filterBtn,.page-link{background:#3a6d8c;margin:10px;color:#fff;border-radius:10%;margin-left:50px}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.p-shop{
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin: 0px;
    padding: 0px;
}
